
.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-bottom: 100px;
    background-color: black;
}

@media only screen and (max-width: 600px) {
    .hero { flex-direction: column; margin-top: 30px }
    .sawysawy { flex-direction: column-reverse }
    .contacts { height: 10rem }
    .banner {width: 100% }
    #about-us-textbox { padding: 0 2em 0 2em; width: 100% }
    #sawy-textbox { padding: 0 2em 0 2em; width: 100% }
}

@media only screen and (min-width: 600px) {
    .hero { flex-direction: column; margin-top: 30px }
    .sawysawy { flex-direction: column-reverse }
    .contacts { height: 10rem }
    .banner {width: 100% }
    #about-us-textbox { padding: 0 2em 0 2em; width: 100% }
    #sawy-textbox { padding: 0 2em 0 2em; width: 100% }
}

@media only screen and (min-width: 768px) {
    .hero { height: 400px; flex-direction: row; margin-top: 60px }
    .sawysawy { height: 300px; flex-direction: row }
    .contacts { height: 100px }
    .banner { width: fit-content; height: 100% }
    #about-us-textbox { padding: 4em 0 4em 0; width: 30% }
    #sawy-textbox { padding: 0 0 0 0; width: 30% }
}

@media only screen and (min-width: 992px) {
    .hero { height: 500px; flex-direction: row; margin-top: 60px }
    .sawysawy { height: 500px; flex-direction: row }
    .contacts { height: 100px }
    .banner { height: 100% }
    #about-us-textbox { padding: 4em 0 4em 0; width: 30% }
    #sawy-textbox { padding: 4em 2em 4em 2em; width: 20% }
}

.banner {
    object-fit: cover;
}

.hero {
    
    text-align: left;
}

.sawysawy {
    text-align: left;
    text-decoration: none;
}

.contacts {
    padding: 200px 0 200px 0;
    text-align: center;
}







