

.hero {
    height: 500px;
    text-align: left;
}

#about-us-textbox {
    padding: 4em 0 4em 0;
    width: 30%;
}

#sawy-textbox {
    padding: 4em 0 4em 0;
    width: 30%;
}

.sawysawy {
    height: 400px;
    text-align: left;
}

.contacts {
    padding: 200px 0 200px 0;
    height: 100px;
    text-align: center;
}