#piano {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    background-color: black;
    min-width: 400px;
    min-height: 300px;
    padding: 30px;
    border-radius: 30px;
}

.piano-key {
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: 1fr 50px;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    span {
        grid-column: 2 / -2;
        grid-row: 2 / -1;
        font-size: 15px;
        font-weight: bold;
    }
}

.key-pressed {
    animation: piano-key-pressed 1s linear;
}

@keyframes piano-key-pressed {
    0% {background-color: white}
    5% {background-color: $pallette-4}
    10% {background-color: white}
}