@media only screen and (max-width: 600px) {
    .project-card { flex-direction: column-reverse }
}

@media only screen and (min-width: 600px) {
    .project-card { flex-direction: column-reverse }
}

@media only screen and (min-width: 768px) {
    .project-card { flex-direction: column-reverse }
}

@media only screen and (min-width: 992px) {
    .project-card { flex-direction: row-reverse; max-height: 400px}
    .project-vid {  margin-right: -80px }
}

.project-card {
    display: flex;
    background-color: black;
    margin: auto;
    margin-bottom: 50px;
    width: 60%;
}

.project-textbox {
    flex-grow: 2;
    padding: 10px;
    padding-left: 10%;
    width: 30%;
    height:100%;
}

.project-image {
    color: white;
    flex-grow: 1;
    max-width: 50%;
}

.project-vid {
    flex-grow: 1;
}