@font-face {
  font-family: aerospace;
  src: url(./../res/fonts/Aerospace.ttf);
}
@font-face {
  font-family: mono-display;
  src: url(./../res/fonts/MajorMonoDisplay-Regular.ttf);
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 35px;
  }
  p {
    line-height: 1rem;
    padding-bottom: 30px;
  }
  h2 {
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 35px;
  }
  p {
    line-height: 1rem;
    padding-bottom: 30px;
  }
  h2 {
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
  p {
    line-height: 1.5rem;
  }
  h2 {
    margin-bottom: 0.5rem;
  }
}
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 50px;
  }
  p {
    line-height: 2rem;
  }
  h2 {
    margin-bottom: 2rem;
  }
}
body {
  background-color: #444;
  font-family: mono-display;
  margin: 0;
  min-width: 500px;
}

#content {
  min-height: 100vh;
}

p {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
}

h1 {
  color: white;
  font-family: aerospace;
}

h2 {
  font-family: mono-display;
  font-size: 3rem;
  font-weight: 200;
  color: white;
}

h3 {
  font-family: mono-display;
  font-size: 2rem;
  font-weight: 200;
  color: white;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 600px) {
  .head {
    height: 50px;
    padding: 10px 0 0 20px;
  }
  #subotix-header {
    position: absolute;
    display: inline;
    right: calc(50% - 100px);
    margin: 0;
  }
  .dropdown {
    width: 100%;
  }
  .header-element {
    visibility: hidden;
  }
}
@media only screen and (min-width: 600px) {
  .head {
    height: 50px;
    padding: 10px 0 0 20px;
  }
  #subotix-header {
    position: absolute;
    display: inline;
    right: calc(50% - 100px);
    margin: 0;
  }
  .dropdown {
    width: 100%;
  }
  .header-element {
    visibility: hidden;
  }
}
@media only screen and (min-width: 768px) {
  .head {
    height: 50px;
    padding: 10px 0 0 20px;
  }
  #subotix-header {
    position: absolute;
    display: inline;
    right: calc(50% - 100px);
    margin: 0;
  }
  .dropdown {
    width: 30%;
  }
  .header-element {
    visibility: hidden;
  }
}
@media only screen and (min-width: 992px) {
  .head {
    height: 50px;
    padding: 10px 0 0 20px;
  }
  #subotix-header {
    position: absolute;
    display: inline;
    right: calc(50% - 130px);
    margin: 0;
  }
  .dropdown {
    width: 30%;
  }
  .header-element {
    visibility: visible;
    font-family: mono-display;
    font-size: 30px;
    margin: 0 10px 15px 10px;
  }
}
.head {
  position: relative;
  display: flex;
  justify-content: left;
  flex-direction: row;
  background-color: black;
  overflow: hidden;
}

#header-menu {
  flex: 1 1 0;
  display: flex;
  justify-content: left;
}

#header-title {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
}
#header-title h1 {
  margin: 0;
}

#header-socials {
  flex: 1 1 0;
  display: flex;
  justify-content: right;
}

#subotix-header {
  position: absolute;
  display: inline;
  margin: 0;
}

.dropdown-element {
  color: white;
  font-family: mono-display;
  font-size: 30px;
  margin: 0 10px 0 20px;
  text-decoration: none;
}

button.dropdown-toggle {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 40px;
  border: none;
  padding: 0;
  margin: 0 0 15px 0;
  transition: all 0.3s;
}

div.dropdown-toggle {
  background-color: white;
  position: relative;
  width: 34px;
  height: 5px;
  left: 3px;
  border-radius: 3px;
}

button.dropdown-toggle:hover {
  background-color: white;
}
button.dropdown-toggle:hover .dropdown-toggle {
  background-color: black;
}

.dropdown {
  position: absolute;
  z-index: 1;
  background-color: black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100px;
  transition: all 0.3s;
}

.collapsed {
  height: 0;
}

.header-element {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.glow-on-hover {
  border-radius: 2px;
}

.glow-on-hover:hover {
  color: black;
  background-color: white;
}

#footer {
  font-family: Quicksand;
  display: flex;
  flex-direction: row;
  background-color: black;
  margin: 0;
  padding: 20px;
  font-size: xx-small;
}
#footer p {
  color: #777;
  margin: 0;
  padding: 0;
  line-height: 1.25rem;
}

#footer-links {
  padding-left: 30px;
  flex: 1 1 0;
}

.footer-icon {
  width: 40px;
}

#individual-info {
  flex: 2 1 0;
}

#misc-info {
  flex: 1 1 0;
}

#freepik-attr {
  color: #777;
  margin: 0;
}
#freepik-attr :visited {
  color: #777;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-bottom: 100px;
  background-color: black;
}

.landing-textbox {
  padding: 0 20px 0 20px;
}

@media only screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
  }
  .redirect-section {
    flex-direction: column-reverse;
  }
  .contacts {
    height: 10rem;
  }
  .side-banner {
    width: 100%;
  }
  .landing-textbox {
    text-align: center;
  }
  #gallery-slideshow {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  .hero {
    flex-direction: column;
  }
  .redirect-section {
    flex-direction: column-reverse;
  }
  .contacts {
    height: 10rem;
  }
  .side-banner {
    width: 100%;
  }
  .landing-textbox {
    text-align: center;
  }
  #gallery-slideshow {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .hero {
    height: 100vh;
    flex-direction: row;
  }
  .redirect-section {
    flex-direction: row;
  }
  .reverse {
    flex-direction: row-reverse;
  }
  .contacts {
    height: 100px;
  }
  .side-banner {
    width: -moz-fit-content;
    width: fit-content;
    height: 300px;
  }
  .landing-textbox {
    text-align: left;
  }
  #gallery-slideshow {
    width: 50%;
    margin-right: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .hero {
    height: 100vh;
    flex-direction: row;
  }
  .redirect-section {
    flex-direction: row;
  }
  .reverse {
    flex-direction: row-reverse;
  }
  .contacts {
    height: 100px;
  }
  .side-banner {
    height: 400px;
  }
  .landing-textbox {
    text-align: left;
  }
  #gallery-slideshow {
    width: 50%;
    margin-right: 20px;
  }
}
.side-banner {
  -o-object-fit: cover;
     object-fit: cover;
}

.banner {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero {
  text-align: left;
}

.redirect-section {
  justify-content: center;
  text-align: left;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .project-card {
    flex-direction: column-reverse;
  }
}
@media only screen and (min-width: 600px) {
  .project-card {
    flex-direction: column-reverse;
  }
}
@media only screen and (min-width: 768px) {
  .project-card {
    flex-direction: column-reverse;
  }
}
@media only screen and (min-width: 992px) {
  .project-card {
    flex-direction: row-reverse;
    max-height: 400px;
  }
  .project-vid {
    margin-right: -80px;
  }
}
.project-card {
  display: flex;
  background-color: black;
  margin: auto;
  margin-top: 50px;
  width: 60%;
}

.project-textbox {
  flex-grow: 2;
  padding: 10px;
  padding-left: 10%;
  width: 30%;
  height: 100%;
}

.project-image {
  color: white;
  flex-grow: 1;
  max-width: 50%;
}

.project-vid {
  flex-grow: 1;
}

.collage {
  width: 90vw;
  display: flex;
  flex-direction: row;
  margin: 20px auto 40px auto;
}

.collage-collumn {
  background-color: black;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

.collage-image {
  margin: 2%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 96%;
}

.slideshow {
  background-color: black;
  margin: 0;
  overflow: hidden;
}

.slideshow-slider {
  white-space: nowrap;
  transition: ease 2s;
}

.slide {
  display: inline-block;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .slideshow {
    height: 300px;
  }
  .slide-image {
    height: 300px;
  }
}
@media only screen and (min-width: 600px) {
  .slideshow {
    height: 300px;
  }
  .slide-image {
    height: 300px;
  }
}
@media only screen and (min-width: 768px) {
  .slideshow {
    height: 400px;
  }
  .slide-image {
    height: 400px;
  }
}
@media only screen and (min-width: 992px) {
  .slideshow {
    height: 400;
  }
  .slide-image {
    height: 400px;
  }
}/*# sourceMappingURL=App.css.map */