@font-face {
  font-family: aerospace;
  src: url(./../res/fonts/Aerospace.ttf);
}
@font-face {
  font-family: mono-display;
  src: url(./../res/fonts/MajorMonoDisplay-Regular.ttf);
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 50px;
  }
  p {
    line-height: 1rem;
    padding-bottom: 30px;
  }
  h2 {
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 50px;
  }
  p {
    line-height: 1rem;
    padding-bottom: 30px;
  }
  h2 {
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
  p {
    line-height: 1.5rem;
  }
  h2 {
    margin-bottom: 0.5rem;
  }
}
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 50px;
  }
  p {
    line-height: 2rem;
  }
  h2 {
    margin-bottom: 2rem;
  }
}
body {
  background-color: #f9f9f9;
  font-family: mono-display;
  margin: 0;
  min-width: 500px;
  transition: all 0.2s;
  overflow-x: hidden;
}

p {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  color: white;
  font-family: aerospace;
}

h2 {
  font-family: mono-display;
  font-size: 3rem;
  font-weight: 200;
  color: white;
}

h3 {
  font-family: mono-display;
  font-size: 2rem;
  font-weight: 200;
  color: white;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
}

#content {
  min-height: 100vh;
}

@media only screen and (max-width: 600px) {
  .head {
    height: 50px;
    padding: 10px 0 0 20px;
  }
  #subotix-header {
    position: absolute;
    display: inline;
    right: calc(50% - 100px);
    margin: 0;
  }
  .dropdown {
    width: 100%;
  }
  .header-element {
    visibility: hidden;
    width: 0;
  }
}
@media only screen and (min-width: 600px) {
  .head {
    height: 50px;
    padding: 10px 0 0 20px;
  }
  #subotix-header {
    position: absolute;
    display: inline;
    right: calc(50% - 100px);
    margin: 0;
  }
  .dropdown {
    width: 100%;
  }
  .header-element {
    visibility: hidden;
    width: 0;
  }
}
@media only screen and (min-width: 768px) {
  .head {
    height: 50px;
    padding: 10px 0 0 20px;
  }
  #subotix-header {
    position: absolute;
    display: inline;
    right: calc(50% - 100px);
    margin: 0;
  }
  .dropdown {
    width: 30%;
  }
  .header-element {
    visibility: hidden;
    width: auto;
    opacity: 0;
  }
}
@media only screen and (min-width: 992px) {
  .head {
    height: 50px;
    padding: 10px 0 0 20px;
  }
  #subotix-header {
    position: absolute;
    display: inline;
    right: calc(50% - 130px);
    margin: 0;
  }
  .dropdown {
    width: 30%;
  }
  .header-element {
    visibility: visible;
    width: auto;
    font-family: mono-display;
    margin: 0 10px 15px 10px;
    opacity: 1;
  }
}
.header-element {
  font-size: 30px;
  transition: all 0s !important;
}

.head {
  position: relative;
  display: flex;
  justify-content: left;
  flex-direction: row;
  background-color: black;
  overflow: hidden;
}

#header-menu {
  overflow: visible;
  flex: 1 1 0;
  display: flex;
  justify-content: left;
}

#header-title {
  overflow: visible;
  flex: 1 1 0;
  display: flex;
  justify-content: center;
}
#header-title h1 {
  margin: 0;
}

#header-socials {
  overflow: visible;
  flex: 1 1 0;
  display: flex;
  justify-content: right;
}

#subotix-header {
  position: absolute;
  display: inline;
  margin: 0;
}

.dropdown-element {
  color: white;
  font-family: mono-display;
  font-size: 30px;
  margin: 0 10px 0 20px;
  text-decoration: none;
}

button.dropdown-toggle {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 40px;
  border: none;
  padding: 0;
  margin: 0 0 15px 0;
  transition: all 0.3s;
}

div.dropdown-toggle {
  background-color: white;
  position: relative;
  width: 34px;
  height: 5px;
  left: 3px;
  border-radius: 3px;
}

button.dropdown-toggle:hover {
  background-color: white;
}
button.dropdown-toggle:hover .dropdown-toggle {
  background-color: black;
}

.dropdown {
  position: absolute;
  z-index: 1;
  background-color: black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100px;
  transition: all 0.3s;
}

.collapsed {
  height: 0;
}

.header-element {
  color: white;
  text-decoration: none;
}

.glow-on-hover {
  border-radius: 2px;
  transition: all 0.5s !important;
}

.glow-on-hover:hover {
  color: black;
  background-color: white;
}

#footer {
  font-family: mono-display;
  display: flex;
  flex-direction: row;
  background-color: black;
  margin: 0;
  padding: 20px;
  font-size: xx-small;
}
#footer p {
  color: #777;
  margin: 0;
  padding: 0;
  line-height: 1.25rem;
  font-size: 1.7em;
}

#footer-links {
  padding-left: 30px;
  flex: 1 1 0;
}

.footer-icon {
  width: 40px;
}

#individual-info {
  flex: 2 1 0;
}

#misc-info {
  flex: 1 1 0;
}

.section {
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #f9f9f9;
  color: black;
  transition: transform 0.3s;
}

.hover-section:hover {
  transform: scale(1.01);
}

.banner {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-card {
  position: relative;
  height: 450px;
  width: 300px;
  margin: 0 20px 20px 0;
  transition: all 0.2s;
  overflow: hidden;
  border-radius: 20px;
}

.product-card:hover {
  transform: scale(1.05);
}

.sawy-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 96%;
  height: auto;
  margin: 2%;
}

.infobar {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  z-index: 1;
  transition: 0.3s;
}
.infobar h2 {
  margin-top: 20px;
  margin-bottom: 30px;
}
.infobar h3 {
  margin-bottom: 50px;
}

.infobar:hover {
  bottom: 0 !important;
  background-color: rgba(0, 0, 0, 0.9);
}

.hero-link {
  display: flex;
  flex-direction: column;
  color: #999;
  width: 25%;
  text-align: center;
  margin: auto;
  border-radius: 1em;
  padding: 1em 0 1em 0;
  transition: all 0.2s;
}
.hero-link img {
  height: 0;
  transition: all 0.5s;
}

.hero-link:hover {
  color: black;
  background-color: #f9f9f9;
  transform: translateY(-4px) scale(1.05);
}

#hero-section {
  margin-top: 2px;
  margin-bottom: 3px;
}

#hero-section:hover #hero-blank {
  transform: scale(1.05);
}
#hero-section:hover #hero-paragraph-div {
  background-color: #f9f9f9;
}
#hero-section:hover #hero-paragraph-div p {
  color: black;
}
#hero-section:hover #hero-links-div {
  height: 230px;
}
#hero-section:hover #hero-links-div img {
  height: auto;
  margin: 0 auto 30px auto;
}

#hero-blank {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: visible;
  z-index: 1;
  box-shadow: 0 0 300px 300px black;
  background-color: black;
  height: 100%;
  transition: all 0.3s;
}

#hero-title-div {
  overflow: visible;
  margin-bottom: 1em;
}
#hero-title-div h2 {
  width: 95%;
  margin: 0;
}

#hero-paragraph-div {
  background-color: #222;
  height: 80px;
  width: 350px;
  border-radius: 1em;
  padding: 0 20px 20px 20px;
  transition: all 0.3s;
}
#hero-paragraph-div p {
  color: #999;
  font-size: small;
  line-height: 1.5;
}

#hero-links-div {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 130px;
  background-color: #222;
  height: 40px;
  border-radius: 1em;
  padding: 0.5em 1em 1em 1em;
  font-weight: bold;
  transition: all 0.3s;
}

#product-section {
  background-color: black;
  flex-direction: column;
  padding-bottom: 50px;
}

#product-card-display {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  padding: 20px 0 0 0;
}

#sawy-section {
  background-color: black;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
  height: 500px;
}

#sawy-infobar {
  bottom: -130px;
  height: 300px;
}

#locations-section {
  background-color: black;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
  height: 700px;
}

#locations-infobar {
  bottom: -130px;
  height: 300px;
}

@media only screen and (max-width: 600px) {
  #hero-section {
    height: 730px;
  }
  #hero-blank {
    width: 20%;
    padding: 90px 0 0 10%;
  }
  #hero-links-div {
    width: 360px;
  }
  .infobar {
    padding-left: 5%;
  }
  .infobar h3 {
    font-size: 1.2rem;
  }
  .infobar p {
    width: 90%;
  }
}
@media only screen and (min-width: 600px) {
  #hero-section {
    height: 730px;
  }
  #hero-blank {
    width: 20%;
    padding: 90px 0 0 11%;
  }
  #hero-links-div {
    width: 420px;
  }
  .infobar {
    padding-left: 5%;
  }
  .infobar h3 {
    font-size: 1.2rem;
  }
  .infobar p {
    width: 90%;
  }
}
@media only screen and (min-width: 768px) {
  #hero-section {
    height: 730px;
  }
  #hero-blank {
    width: 20%;
    padding: 90px 0 0 13%;
  }
  #hero-links-div {
    width: 500px;
  }
  .infobar {
    padding-left: 5%;
  }
  .infobar h3 {
    font-size: 1.2rem;
  }
  .infobar p {
    width: 60%;
  }
}
@media only screen and (min-width: 992px) {
  #hero-section {
    height: 730px;
  }
  #hero-blank {
    width: 20%;
    padding: 90px 0 0 15%;
  }
  #hero-links-div {
    width: 600px;
  }
  .infobar {
    padding-left: 5%;
  }
  .infobar h3 {
    font-size: 1.2rem;
  }
  .infobar p {
    width: 60%;
  }
}
#sawy-landing {
  justify-content: center;
  background-color: black;
  padding-bottom: 50px;
  max-width: 100%;
  max-height: 70vh;
}

#showcase {
  flex-direction: row;
  padding: 50px;
  transition: all 0.3s;
}
#showcase h2 {
  color: black;
}
#showcase img {
  transition: all 0.3s;
}

#showcase:hover {
  transform: scale(1.05);
}
#showcase:hover img {
  transform: scale(1.1) translateX(20px);
}
#showcase:hover #showcase-textbox {
  color: white;
  background-color: black;
}
#showcase:hover #showcase-textbox h2 {
  color: white;
}

#showcase-textbox {
  background-color: #f0f0f0;
  margin-left: 10%;
  margin-right: 20px;
  border-radius: 50px;
  transition: all 0.3s;
}

#content-section {
  flex-direction: row;
  justify-content: center;
  padding-bottom: 70px;
}

#workshops {
  margin-bottom: 30px;
}

.sawy-sub-section {
  position: relative;
  display: flex;
  background-color: black;
  width: 25%;
  height: 400px;
  margin: 70px auto 0 auto;
  border-radius: 20px;
  transition: all 0.25s;
  overflow: hidden;
}

.sawy-sub-section:hover {
  transform: scale(1.2);
}

.back-to-sawy {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 50px;
  margin-left: 10%;
  padding: 10px;
  font-size: 1.5em;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.back-to-sawy:hover {
  color: white;
  background-color: black;
  transform: scale(1.05) translateX(-10px);
}

#download-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.link-table {
  margin: 80px auto 80px auto;
}

.download-tab {
  padding: 5px;
  border: solid;
  border-width: 1px;
}

.download-link {
  all: initial;
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.download-link:focus {
  color: purple;
}

.download-link:visited {
  color: purple;
}

@media only screen and (max-width: 600px) {
  .link-table {
    width: 90%;
  }
  #showcase {
    display: block;
  }
  #showcase-textbox {
    width: 50%;
    padding: 0 10px 20px 30px;
  }
  #sawy-svg {
    visibility: hidden;
    height: 0;
  }
  #content-section {
    flex-direction: column;
  }
  .sawy-sub-section {
    width: 75%;
    height: 400px;
  }
}
@media only screen and (min-width: 600px) {
  .link-table {
    width: 90%;
  }
  #showcase {
    display: block;
  }
  #showcase-textbox {
    width: 60%;
    padding: 0 60px 30px 60px;
  }
  #showcase-textbox h2 {
    padding-left: 30px;
  }
  #sawy-svg {
    visibility: hidden;
    height: 0;
  }
  #content-section {
    flex-direction: column;
  }
  .sawy-sub-section {
    width: 75%;
    height: 400px;
  }
}
@media only screen and (min-width: 1060px) {
  .link-table {
    width: 60%;
  }
  #showcase {
    display: flex;
  }
  #showcase-textbox {
    width: 30%;
    padding: 10px 30px 0 30px;
  }
  #sawy-svg {
    visibility: visible;
    height: auto;
  }
  #content-section {
    flex-direction: row;
  }
  .sawy-sub-section {
    width: 25%;
    height: 400px;
  }
}
.slideshow {
  display: flex;
  background-color: black;
  margin: 0;
  overflow: hidden;
}

.slideshow-reel {
  height: 100%;
  white-space: nowrap;
  transition: ease 5s;
}

.slide {
  z-index: 1;
  background-color: white;
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 100%;
}

.slide-image {
  background-color: white;
  visibility: visible;
  position: relative;
  z-index: 4;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=App.css.map */