@media only screen and (max-width: 600px) {
    #sawy-blank { width: 20%; padding: 100px 10% 0 0 }
    #sawy-title-div { h2 { font-size: 2.5rem } }
    .infobar { padding-left: 5%; h3 { font-size: 1.2rem}; p { width: 90% } }

    #hero-links-div { flex-direction: row; visibility: visible; width: 100% }
    #blank-paragraph-div {display: none}
    #hero-section {
        height: 900px;
        grid-template-rows: 500px 200px 200px; 
        grid-template-areas: 
        "hero-slide hero-slide hero-slide hero-slide hero-slide"
        "hero-title hero-title hero-title hero-title hero-title"
        "hero-links hero-links hero-links hero-links hero-links";
    }
}

@media only screen and (min-width: 600px) {
    #sawy-blank { width: 30%; padding: 100px 11% 0 0 }
    #sawy-title-div { h2 { font-size: 3rem } }
    .infobar { padding-left: 5%; h3 { font-size: 1.2rem}; p { width: 90% } }

    #hero-links-div { flex-direction: row; visibility: visible; width: 600px }
    #blank-paragraph-div {display: none}
    #hero-section {
        height: 900px;
        grid-template-rows: 500px 200px 200px; 
        grid-template-areas: 
        "hero-slide hero-slide hero-slide hero-slide hero-slide"
        "hero-title hero-title hero-title hero-title hero-title"
        "hero-links hero-links hero-links hero-links hero-links";
    }
}

@media only screen and (min-width: 768px) {
    #sawy-blank { width: 40%; padding: 100px 12% 0 0 }
    .infobar { padding-left: 5%; h3 { font-size: 1.2rem}; p { width: 60% } }

    #hero-links-div { flex-direction: column; visibility: visible; width: 180px }
    #blank-paragraph-div {display: block }
    #hero-section {
        height: 700px;
        grid-template-rows: 200px 200px 300px; 
        grid-template-areas: 
        "hero-title     hero-title     hero-title     hero-slide hero-slide"
        "hero-paragraph hero-paragraph hero-paragraph hero-slide hero-slide"
        "hero-links     hero-links     hero-links     hero-slide hero-slide";
    }
} 

@media only screen and (min-width: 992px) {
    #sawy-blank { width: 20%; padding: 100px 12% 0 0 }
    .infobar { padding-left: 5%; h3 { font-size: 1.2rem}; p { width: 60% } }

    #hero-links-div { flex-direction: row; visibility: visible; width: 600px }
    #blank-paragraph-div {display: block }
    #hero-section {
        height: 650px;
        grid-template-rows: 250px 250px 150px; 
        grid-template-areas: 
        "hero-title     hero-title     hero-slide hero-slide hero-slide"
        "hero-paragraph hero-paragraph hero-slide hero-slide hero-slide"
        "hero-links     hero-links     hero-slide hero-slide hero-slide";
    }
}