#showcase {
    background-color: black;
    height: 2000px;
    padding-top: 100px;

    box-shadow: 0 5px 50px 50px black;
}

.showcase-panel {
    background-color: $pallette-3;
    width: 70%;
    
    margin: 0 auto 100px auto;

    display: grid;
    align-items: center;
    justify-items: center;
}

.showcase-panel-image {
    grid-area: showcase-image;
    width: 80%;
    height: 80%;
    overflow: hidden;

    border-radius: 10px;

    img {
        min-width: 100%;
        max-width: 200%;
        min-height: 100%;
        max-height: 200%;
    }
}

.showcase-panel-text {
    grid-area: showcase-text;
    text-align: center;
    h2{ color: black; text-align: center; font-family: roboto; font-weight: bold;}
    p { color: black; text-align: center; width: 300px}
}